html {
  font-family: 'Roboto', sans-serif;
  color: black;
}

body {
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 5em;
  font-weight: 100;
}

h2 {
  font-size: 3.7em;
  font-weight: 100;
}

.navbar {
  list-style-type: none;
  position: absolute;
  top: 0;
  width: 100%;
  padding-inline-start: 0;
  border-bottom: 2px solid black;
  margin: 0;
  background-color: white;
}

.navbar li {
  display: inline;
  float: right;
  padding: 2%;
}

.google-blue {
  color: #4285F4;
}

.google-red {
  color: #DB4437;
}

.google-yellow {
  color: #F4B400;
}

.google-green {
  color: #0F9D58;
}

.dartmouth-green {
  color: #498829;
}

.bold {
  font-weight: 300;
}

a:-webkit-any-link {
  color: black;
}

.onepage-pagination li a.dark:before {
  background: white;
}

.onepage-pagination li a.dark.active:before {
  border: 1px solid white;
  background: black;
}


#lightMode {
  display: none;
}
