#homePage{
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle{
	display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
}
.homeBoxOdd{
	background-color: black;
	border-style: solid;
	text-align: center;
    border-color: #c1c1c1;
    margin-top: 3%;
    margin-bottom: 0%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    position: relative;

}

.homeBoxEven{
	background-color: white;
	border-style: solid;
	text-align: center;
    border-color: #c1c1c1;
    margin-top: 3%;
    margin-bottom: 0%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.HiddenTextBody{
	display: none;
	margin-top: 0px;
	background-color: #fff;
	margin-bottom: 0px;
	padding: 0px;
}

.HoverText{
	display: none;
}

.HiddenText{
	/*display: none;*/
	padding: 5%;
	margin-top: 5%;
	margin-bottom: 0%;
	margin-left: 10%;
	margin-right: 10%;
}

#MyWork{
	display: none;
	border: 0px;
}

.WorkGrid{
	width: 50%;
	height: 25%;
	border-style: solid;
	border-color: #c1c1c1;

}
.left-half{
    width:50%;
    height: 100%;
    float:left;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-color: #000;
    border-width: thin;
    font-size: 2em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.right-half{
	width: 50%;
	height: 100%;
    overflow-x:hidden;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-color: #000;
    border-width: thin;
	font-size: 2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.OriginalText{
	color: #fff;
	padding: 0px;
}

#WorkHolder{
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: solid;
    text-align: center;
    padding: 8px;
    font-size: 1.2em;
    border-color: #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

.paragraphLink{
	color: #c0392b;
}

.homeBoxHeader{
	height: 100%;
	width: auto;
	margin: 0px;
	
}

*{
	font-family: 'Quicksand', sans-serif;
	font-weight: light !important;
}